{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'ecom/index.css' %}">
    <link rel="stylesheet" href="{% static 'ecom/global.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="w-full">
        <section class="relative w-full h-screen">
            <img class="max-w-[650px] right-0 absolute -z-10" src="{% static 'img/header-img.svg' %}">
            <div class="w-full h-full flex justify-start items-center max-w-[1200px] mx-auto">
            <div class="">
            <h1 class="text-6xl font-header">PUSH YOUR LIMITS HARDER</h1>
            <p class="font-medium mt-2">Apostel is Your Go-To Destination For To-Noch Fitness <br> Equipment And Supplements</p>
            <button class="font-semibold btn-gradient py-3 px-6 rounded-lg mt-2">see our products</button>
            </div>
            </div>
        </section>

        <section class="w-full my-10 max-w-[1200px] mx-auto">
            <div class="flex justify-between items-center w-full">
                <h1 class="text-5xl font-header text-gradient w-fit">Browse by category</h1>
                <a class="">see more</a>
            </div>
        </section>

    </main>
</body>
</html>