{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'ecom/style.css' %}">
    <link rel="stylesheet" href="{% static 'ecom/global.css' %}">
</head>
<body>
    <!--<h1 class="text-2xl">{{ name }}</h1>-->
    <div class="image">
    <img src="{% static 'C:\Users\Legion\Documents\ecopro\ecopro\ecom\static\img\john-fornander-TAZoUmDqzXk-unsplash.jpg' %}">
    </div>

    <div class="text_head">
        <h1 >PUSH YOUR LIMITS HARDER</h1>
        <p>Apostel is Your Go-To Destination For To-Noch Fitness Equipment And Supplements<p>
    </div>

    <div class="button_product text-red-500">
        <button>see our products</button>
    </div>
    <div class="Cat">
    <h1>Browse by category</h1><br>
    </div>

    <div class="rounded-md">
        <img src="{% static 'C:\Users\Legion\Documents\ecopro\ecopro\ecom\static\img\whey.jpg' %}">
        <img src="{% static 'C:\Users\Legion\Documents\ecopro\ecopro\ecom\static\img\whey.jpg' %}">
        <img src="{% static 'C:\Users\Legion\Documents\ecopro\ecopro\ecom\static\img\whey.jpg' %}">
        <img src="{% static 'C:\Users\Legion\Documents\ecopro\ecopro\ecom\static\img\whey.jpg' %}">
    </div>
</body>
</html>