<nav class="nav">
    <div class="text-red-500 font-medium">
        <a href="{% url 'ecom:index' %}">
            <div id="logo"><p class="capitalize">apostel</p></div>
        </a>
    </div>
    <div class="text-slate-50">
      <ul class="nav_links"> 
        <li><a href="/" class="here">home</a></li>
        <li><a href="{% url 'ecom:shop' %}" >shop</a></li>      
        <li><a href="{% url 'ecom:index' %}#aboutUs" >about us</a></li>          
        <li><a href="{% url 'ecom:index' %}#contactUs" >contact us</a> </li>   
        <li><a class="flex items-center gap-x-2" href="/cart.html" >cart
        <span class="material-symbols-outlined  text-lg ">
            shopping_cart
            </span></a></li>
        <li><a class="flex items-center gap-x-2" href="{% url 'ecom:login' %}" >sign in
            <span class="material-symbols-outlined  text-lg ">
                account_circle
                </span>
        </a></li>
        
    </div>
</nav>
