<nav class="nav fixed w-full bg-neutral-950/50 backdrop-blur-sm top-0 z-10">
    <div class="text-red-500 font-medium">
        <a href="{% url 'ecom:index' %}">
            <div id="logo"><p class="capitalize">apostel</p></div>
        </a>
    </div>
    <div class="text-slate-50">
      <ul class="nav_links"> 

        
        <li><a href="/" class="here">home</a></li>
        <li><a href="{% url 'ecom:shop' %}" >shop</a></li> 
        {% if page == "index" %}     
        <li><a href="{% url 'ecom:index' %}#aboutUs" >about us</a></li>          
        <li><a href="{% url 'ecom:index' %}#contactUs" >contact us</a> </li> 
        {% endif  %}  
        <li><a class="flex items-center gap-x-2" href="{% url 'ecom:cart' %}" >cart
        <span class="material-symbols-outlined  text-lg ">
            shopping_cart
            </span></a></li>
        {% if user.is_authenticated %} 
        <li><a class="flex items-center gap-x-2" href="{% url 'ecom:profile' %}" >profile
        <span class="material-symbols-outlined  text-lg ">
            account_circle
            </span>
            </a></li>

        {% else  %}
            <li><a class="flex items-center gap-x-2" href="{% url 'ecom:login' %}" >sign in
            <span class="material-symbols-outlined  text-lg ">
                account_circle
                </span>
        
        </a></li>
        {% endif  %} 
        
        
    </div>
</nav>
