<nav class="nav">
    <div class="text-red-600">
        <a href="/">
            <div id="logo"><p>apostel</p></div>
        </a>
    </div>
    <div class="text-slate-50">
      <ul class="nav_links"> 
        <li><a href="/" class="here">Home</a></li>
        <li><a href="/shop.html" >shop</a></li>      
        <li><a href="/about_us.html" >about us</a></li>          
        <li><a href="/contact_us.html" >contact us</a> </li>   
        <li><a href="/cart.html" >cart
        <span class="material-symbols-outlined">
            shopping_cart
            </span></a></li>
        <li><a href="/sign_in.html" >sign in/up 
        <span class="material-symbols-outlined">
            account_circle
            </span>  </a></li>
        
    </div>
</nav>
